.header-banner {
  position: relative;

  width: 100%;

  picture {
    display: flex;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      min-height: 140px;
      min-width: 1000px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.header-banner-inner {
  position: absolute;
  left: 0;
  top: 64px;

  img {
    height: 78px;
    width: auto;
  }
}
